@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  background-color: #fefaf0;
  font-family: 'Inter', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

.swiper-pagination-bullet {
  /* margin-top: 1150px; */
  width: 12px;
  height: 12px;
  text-align: center;
  /* line-height: 20px; */
  /* font-size: 12px; */
  /* color: #000; */
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: orange;
}

.swiper-button-prev {
  color: rgb(255, 192, 75);
}

.swiper-button-next {
  color: rgb(255, 192, 75);
}

.swiper-pagination {
  margin-bottom: 3rem;
}
